
global
  maxconn 4096

defaults
    mode                tcp

    # Timeout values should be configured for your specific use.
    # See: https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4-timeout%20connect

    # With the timeout connect 5 secs,
    # if the backend server is not responding, haproxy will make a total
    # of 3 connection attempts waiting 5s each time before giving up on the server,
    # for a total of 15 seconds.
    retries             2
    timeout connect     5s

    # timeout client and server govern the maximum amount of time of TCP inactivity.
    # The server node may idle on a TCP connection either because it takes time to
    # execute a query before the first result set record is emitted, or in case of
    # some trouble on the server. So these timeout settings should be larger than the
    # time to execute the longest (most complex, under substantial concurrent workload)
    # query, yet not too large so truly failed connections are lingering too long
    # (resources associated with failed connections should be freed reasonably promptly).
    timeout client      10m
    timeout server      10m

    # TCP keep-alive on client side. Server already enables them.
    option              clitcpka

listen psql
    bind :26257
    mode tcp
    balance roundrobin
    option httpchk GET /health?ready=1
    server cockroach1 10.24.14.175:26257 check port 8081
    server cockroach2 10.24.14.9:26257 check port 8081
    server cockroach3 10.24.14.116:26257 check port 8081
    server cockroach4 10.24.14.75:26257 check port 8081
    server cockroach5 10.24.14.221:26257 check port 8081
    server cockroach6 10.24.14.41:26257 check port 8081
    server cockroach7 10.24.14.161:26257 check port 8081
    server cockroach8 10.24.14.177:26257 check port 8081
    server cockroach9 10.24.14.246:26257 check port 8081

